<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <servlet>
        <servlet-name>LightServlet</servlet-name>
        <servlet-class>com.bigboxer23.lights.servlets.HubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SceneStatusServlet</servlet-name>
        <servlet-class>com.bigboxer23.lights.servlets.SceneStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LightServlet</servlet-name>
        <url-pattern>/S/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SceneStatusServlet</servlet-name>
        <url-pattern>/SceneStatus</url-pattern>
    </servlet-mapping>
</web-app>
